<!DOCTYPE html>
<html lang="en">
<h1>
    <div>
        <img src="img/logo-small.png">Urunler
    </div>
</h1>
<body>
<nav class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand"></a>
    </div>
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#/login"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#/producers">Ureticiler</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#/products">Urunler</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#/volunteer">Gonullu Calismalar</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#/admin">Admin</a></li>
        </ul>
    </div>
</nav>

</body>
</html>