<!DOCTYPE html>
<html lang="en">
<h1>
    <div>
        <img src="img/logo-small.png">Kullanici Bilgileri
    </div>
</h1>
<body>
<nav class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand"></a>
    </div>
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#/login"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#/producers">Ureticiler</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#/products">Urunler</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#/volunteer">Gonullu Calismalar</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#/admin">Admin</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#/userinfo">Uye Sayfasi</a></li>
        </ul>
    </div>
</nav>

<div class="row">
    <div class="col-sm-8">
        <h3>Grafikler</h3>
        <div google-chart chart="producerChartObject" style="height:600px; width:100%;"></div>
        <div google-chart chart="categoryChartObject" style="height:600px; width:100%;"></div>
    </div>
    <div class="col-sm-4">
        <button type="button" class="btn btn-primary" ng-click = "">Bilgilerinizi Guncelleyin</button>
    </div>
</div>

</body>
</html>